@charset "UTF-8";
/*css初始化*/
html, input, textarea { font: normal 12px 'Century Gothic', 'Helvetica', 'Hiragino Sans GB W3', 'Microsoft YaHei', '微软雅黑', 'SimSun', '宋体', 'Heiti', '黑体', 'Arial', 'sans-serif';
}
body, button, ul, li, ol, p, dl, dd, h1, h2, h3, h4, h5, h6, img, iframe, form, input, textarea, td, section, article, aside, dl, dt, dd {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
*:focus { outline: none; }
a { text-decoration: none; }
a:hover { color: #50c8d7; text-decoration: none; }
i, em { font-style: normal; text-decoration: none; }
img { border: 0; vertical-align: middle; }
.w1150 { width: 1150px; margin: 0px auto; }
.w1124 { width: 1124px; margin: 0px auto; }

/*浮动*/
.fl { float: left; }
.fr { float: right; }
.clearfix::before, .clearfix::after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix { zoom: 1; }
$mainColor: #50c8d7;

/*三角形*/
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}
/*css初始化完成*/

/*顶部导航开始*/
header {
  width: 100%;
  min-width: 1200px;
  height: 52px;
  background-color: #000;
  position: relative;
  .nav {
    width: 720px;
    height: 52px;
    margin-left: 50px;
    position: relative;
    .logo {
      width: 135px;
      height: 27px;
      display: block;
      background: url("../images/logo2.png") no-repeat;
      position: absolute;
      top: 13px;
    }
    ul{
      position: relative;
      margin-left: 165px;
      li {
        float: left;
        font: normal 13px "微软雅黑";
        position: relative;
        > a {
          display: block;
          padding: 25px 21px 10px;
          color: #FFF;
          text-shadow: 2px 2px 2px #010101;
          position: relative;
          &.active {
            color: $mainColor;
          }
          .new {
            position: absolute;
            top: 20px;
            right: -8px;
            color: #ff5b54;
            font-size: 9px;
          }
        }
        .nav-appDown {
          width: 230px;
          padding: 20px;
          background-color: rgba(0,0,0,0.8);
          border-radius: 15px;
          position: absolute;
          top: 75px;
          left: -80px;
          &::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px;
            border-color: transparent transparent rgba(0,0,0,.8) transparent;
            _border-style: dashed dashed solid dashed;
            position: absolute;
            top: -40px;
            left: 115px;
          }
          .nav-appText {
            padding-bottom: 20px;
            border-bottom: 1px solid #5b5b5b;
            p {
              width: 150px;
              line-height: 18px;
              color: #fff;
              margin-left: 15px;
              padding-top: 23px;
            }
          }
          .nav-appPic {
            padding-top: 20px;
            .link {
              width: 142px;
              a {
                color: #fff;
                display: block;
                height: 36px;
                text-shadow: 2px 2px 2px #010101;
                &:last-child {
                  margin-top: 15px;
                }
              }
            }
            .qrcode {
              width: 88px;
              text-align: center;
              img {
                width: 88px;
              }
              p {
                color: #fff;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
  .login {
    position: absolute;
    top: 14px;
    right: 50px;
    .search-form {
      .searchBox {
        width: 220px;
        position: relative;
        .searchText {
          width: 202px;
          height: 26px;
          color: #fff;
          background-color: #2f2f2f;
          padding-left: 10px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          overflow: hidden;
        }
        .searchBtn {
          width: 16px;
          height: 16px;
          cursor: pointer;
          position: absolute;
          right: 22px;
          top: 5px;
          background: url("../images/searBtn.png") no-repeat;
        }
      }
    }
    .login-link {
      a {
        color: #a0a0a0;
        font-size: 13px;
        display: inline-block;
        margin: 0px 12px;
        &.logining {
          position: relative;
          &::after {
            content: '';
            width: 1px;
            height: 100%;
            background-color: #3d3d3d;
            position: absolute;
            right: -14px; 
          }
        }
        &.experience {
          width: 110px;
          height: 25px;
          line-height: 25px;
          font-size: 14px;
          color: #fff;
          text-align: center;
          background: $mainColor;
          margin-right: 0;
          border-radius: 15px;
        }
      }
    }
  }
}
/*顶部导航结束*/
/*footer部分开始*/
footer {
  width: 100%;
  min-width: 1200px;
  background: url("../images/ft_bg.png") repeat;
  padding-bottom: 45px;
  .link {
    width: 830px;
    margin: 0 auto;
    padding-top: 60px;
    dl {
      float: left;
      width: 180px;
      dt {
        font-size: 15px;
        color: $mainColor;
        padding-bottom: 16px;
      }
      dd {
        font-size: 14px;
        line-height: 24px;
        a {
          color: #818181;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .officially {
      width: 110px;
      float: left;
      p {
        height: 24px;
        line-height: 24px;
        padding-left: 26px;
        a {
          color: #818181;
        }
        &:first-child {
          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
        &:last-of-type {
          a {
            cursor: default;
          }
        }
        img {
          padding-top: 10px;
        }
      }
    }
  }

}
/*footer部分结束*/
